{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Edit Product</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="flex flex-col min-h-screen bg-black">
  <div class="container mx-auto px-4 py-8 mt-16 max-w-xl">
    <h1 class="text-3xl font-bold text-center mb-8 text-white">Edit Product Entry</h1>
  
    <!-- Perubahan: Menambahkan border dan mengubah warna latar belakang form -->
    <div class="bg-black border-2 border-gray-500 shadow-md rounded-lg p-6 form-style">
      <form method="POST" class="space-y-6" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
              <div class="flex flex-col">
                  <label for="{{ field.id_for_label }}" class="mb-2 font-semibold text-gray-700">
                      {{ field.label }}
                  </label>
                  <div class="w-full">
                      <!-- Perubahan: Menambahkan penanganan khusus untuk field gambar -->
                      {% if field.name == 'image' %}
                          <div class="bg-white p-4 rounded-lg">
                              {{ field }}
                          </div>
                      {% else %}
                          {{ field }}
                      {% endif %}
                  </div>
                  {% if field.help_text %}
                      <p class="mt-1 text-sm text-white">{{ field.help_text }}</p>
                  {% endif %}
                  {% for error in field.errors %}
                      <p class="mt-1 text-sm text-white">{{ error }}</p>
                  {% endfor %}
              </div>
          {% endfor %}
          <!-- Perubahan: Mengubah warna dan gaya tombol submit -->
          <div class="flex justify-center mt-6">
              <button type="submit" class="bg-yellow-400 text-black font-semibold px-6 py-3 rounded-lg hover:bg-yellow-600 transition duration-300 ease-in-out w-full">
                  Edit Product Entry
              </button>
          </div>
      </form>
  </div>
  </div>
</div>
{% endblock %}