{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Vintazen</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-black flex flex-col">
  <div class="p-2 mb-6 relative">

  <!-- Button for Adding New Product Entry -->
  <div class="flex justify-end mb-4">
    <a href="{% url 'main:create_product_entry' %}" class="bg-gradient-to-r from-yellow-400 to-yellow-500 hover:from-yellow-500 hover:to-yellow-600 text-black font-bold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 shadow-lg">
      Add New Product Entry
    </a>
  </div>
  
  <!-- Product Entries Section -->
  {% if not product_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
    <img src="{% static 'image/logo.png' %}" alt="Logo" class="w-32 h-32 mb-4 animate-bounce"/>
    <!-- Perubahan: Menambahkan pesan ketika tidak ada data produk -->
    <p class="text-center text-gray-300 mt-4">Belum ada data product pada Vintazen.</p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    {% for product_entry in product_entries %}
      {% include 'card_product.html' with product_entry=product_entry %}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}
